.sliderCard {
    font-size: 18px;
    background: url('https://raw.githubusercontent.com/FabricioOliveira1/FabricioOliveiraPortifolio/main/imagens/doctor-care-print.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    
    list-style: none;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 25rem;
  }
  
  .sliderCard .listItem-img {
    height: 60%;
    overflow: hidden;
  } 
  
  .sliderCard p {
    text-align: start;
    line-height: 1.5rem;
  }
  
  .sliderCard .listItem-img img {
    width: 20rem;
  }
  
  .sliderCard .listItem-description {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 20rem;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 85%, rgba(64,146,168,0) 98%);
  }
  
  .sliderCard .sliderCard-buttonContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  
  .sliderCard .cardButton {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    width: 50%;
    height: 2.5rem;
    border-radius: 20px;
    padding: 0.2rem;
    text-decoration: none;
  }
  