.tag {
  padding-inline: 0.5rem;
  border-radius: 20px;
  display: inline-block;
  text-align: center;
  font-weight: 500;
  margin-right: 0.3rem;
}

.tag:first-letter {
  text-transform: capitalize;
}