.card {
  font-size: 18px;
  background-color: var(--text-dark);
  list-style: none;
  margin-bottom: 1.5rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 25rem;
  overflow: hidden;
}

.card .listItem-img {
  height: 60%;
  overflow: hidden;
} 

.card p {
  text-align: start;
  line-height: 1.5rem;
}

.card .listItem-img img {
  width: 20rem;
  transform: translateY(-15%)
}

.card .listItem-description {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card .card-buttonContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.card .cardButton {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
  width: 50%;
  height: 2.5rem;
  border-radius: 20px;
  padding: 0.2rem;
  text-decoration: none;
}

